################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BlazorWPF/FileContentIndex
/BlazorWPF.App/obj
/BlazorWPF.WebApp/obj
